body{
  text-align: center;
  background: linear-gradient(green,limegreen) no-repeat center center fixed;
  background-size: cover;
}

h1{
  font-size: 80px;
  margin-top: 20px;
  font-weight: 300;
  font-family: cursive;
  color: yellow;
  cursor: default;
  user-select: none;
}

input[type=text]{
  height: 60px;
  width: 450px;
  font-size : 40px;
  text-align: center;
  border-radius: 15px;
  margin:50px;
  background-color: lime;
  border-color:forestgreen;
  color:orange;
  transition: 0.45s;
}

::placeholder {
  color: orange;
  opacity: 1;
}

input[name=mitte]{
  margin-top: 15%;
  height: 80px;
  width: 470px;
  font-size : 50px;
  transition:0.7s;
}

input[name=mitte]:hover{
  height: 90px;
  width: 500px;
  font-size : 55px;
  border-radius: 50px;
}

input[type=button]{
  height: 60px;
  width: 450px;
  font-size : 40px;
  text-align: center;
  border-radius: 15px;
  margin:50px;
  background-color: lime;
  border-color:forestgreen;
  color:orange;
  transition: 0.45s;
}

input:hover{
  background-color: yellow;
  width: 480px;
  height: 70px;
  border-radius: 30px;
}

input:focus{
  background-color:darkorange;
  color:yellow;
}

p{
  margin:50px;
  color: orange;
  font-size : 40px;
}

p[name=groesser]{
  margin:60px;
  color:orange;
  font-size:58px;
  line-height: 80px;
  user-select: none;
}

div[class=box]{
  float: left;
  width: 50%;
  height: 100%;
}

div[class=box1]{
  float: left;
  width: 50%;
  height: 100%;
  background-image: linear-gradient(to bottom, yellow, orange);
}

div[class=box2]{
  width: 100%;
  height: 95%;
}


.Player1{
  position: relative;
  top:70%;
}

.Player2{
  position:relative;
  top:70%;
  left: 20%;
}

.Player1_attack{
  position: relative;
  top:70%;
  right: 10%;
}

.Player2_attack{
  position:relative;
  top:70%;
  left: 10%
}

.Player1_hit{
  position: relative;
  top:69%;
  right: 10%
}

.Player2_hit{
  position:relative;
  top:69%;
  left: 10%;
}

.Gegner{
  position:relative;
  top:30%;
  right: 23%
}

.Gegner_hit{
  position:relative;
  top:30%;
  right: 18%;
}

.Gegner_attack{
  position:relative;
  top:29%;
  right: 20%
}

.Player1_won{
  position: absolute;
  bottom: 20%;
  right: 75%;
}

.Player2_won{
  position: absolute;
  bottom: 20%;
  left: 75%;
}

.Player1_lost{
  position: absolute;
  bottom: 20%;
  right: 77%;
}

.Player2_lost{
  position: absolute;
  bottom: 20%;
  left: 77%;
}

.boxEnde{
  position: relative;
  top: 30%;
  height: 40%
}

.boxEnde input{
  width: 500px;
}

.boxEnde input:hover{
  width: 530px;
}

b{
  font-size: 60px;
  color: orange;
  font-family: cursive;
  user-select: none;
}

img{
  user-select:none;
  }
